body {
  margin: 0;
  font-family: Arial;
  background: #f5f5f5;
  color: #222;
}

body.dark {
  background: #121212;
  color: #eee;
}

header {
  display: flex;
  gap: 10px;
  padding: 15px;
  background: #222;
  color: white;
}

input, button {
  padding: 8px;
  border-radius: 6px;
  border: none;
}

.novel-card {
  background: #ffcc70;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.hidden {
  display: none;
}

#chapterContent {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
}

body.dark #chapterContent {
  background: #1f1f1f;
}
